task 1 9.1

In [ ]:
def reverse_string(s):
    left, right = 0, len(s) - 1

    while left < right:

        s[left], s[right] = s[right], s[left]


        left += 1
        right -= 1

# Example 1
input_str1 = ["h", "e", "l", "l", "o"]
print(input_str1)
reverse_string(input_str1)
print(input_str1)

# Example 2
input_str2 = ["H", "a", "n", "n", "a", "h"]
print(input_str2)
reverse_string(input_str2)
print(input_str2)

['h', 'e', 'l', 'l', 'o']
['o', 'l', 'l', 'e', 'h']
['H', 'a', 'n', 'n', 'a', 'h']
['h', 'a', 'n', 'n', 'a', 'H']

Task 2 9.2

In [ ]:
def is_palindrome(s):

    def is_alphanumeric(char):
        return ('a' <= char <= 'z') or ('A' <= char <= 'Z') or ('0' <= char <= '9')


    s = s.lower()


    left, right = 0, len(s) - 1

    while left < right:

        while left < right and not is_alphanumeric(s[left]):
            left += 1


        while left < right and not is_alphanumeric(s[right]):
            right -= 1


        if s[left] != s[right]:
            return False


        left += 1
        right -= 1


    return True

# Example 1
input_str1 = "A man, a plan, a canal: Panama"
output1 = is_palindrome(input_str1)
print(output1)  # Output: True

# Example 2
input_str2 = "race a car"
output2 = is_palindrome(input_str2)
print(output2)  # Output: False

True
False

Task 3

In [9]:
def my_sqrt(x):


    if x == 0 or x == 1:
        return x

    x = x ** (1/2)

    print("This is Floating num",x)


    return int(x)


# Example 1
input1 = 4
output1 = my_sqrt(input1)
print("This is int ",output1)  # Output: 2

# Example 2
input2 = 8
output2 = my_sqrt(input2)
print("This is int ",output2)  # Output: 2

This is Floating num 2.0
this is int  2
This is Floating num 2.8284271247461903
this is int  2